*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 14px;
}

.main {
  display: flex;
  flex-direction: row;
}

.grid-container {
  font-size: 3em;
  display: inline-block;
  position: relative;
}

.grid-container.won::after,
.grid-container.lost::after {
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 1em;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.grid-container.won::after {
  content: "😎";
  color: yellow;
}

.grid-container.lost::after {
  content: "😞";
  color: red;
}

.grid {
  table-layout: fixed;
  /* border-collapse: collapse; */
  border-spacing: 0;
}

.grid td {
  border: 2px outset gray;
  width: 1em;
  min-width: 1em;
  max-width: 1em;
  height: 1em;
  min-height: 1em;
  max-height: 1em;
  line-height: 0;
  background-color: gray;
  text-align: center;
}

.grid td.revealed {
  background-color: transparent;
  border: 1px solid black;
}

.grid td .cell-content {
  font-size: 0.5em;
}

/* DEBUG */
.grid td:not(.revealed)::before {
  content: attr(data-content);
  color: white;
}
/* END DEBUG */

.grid td.flagged::before {
  content: "⚑";
}

.grid td.flagged {
  color: white;
}

.grid.over td.flagged {
  color: green;
}

.grid td.revealed.💣 {
  color: red;
}

.grid.over td.revealed.💣.last-move {
  background-color: red;
  color: white;
}

.mine {
  font-size: 0.6em;
}

.controls [name="width"],
.controls [name="height"],
.controls [name="num_mines"] {
  width: 4em;
}

.controls .inputs {
  display: flex;
  flex-direction: column;
}

.controls .inputs label {
  display: flex;
  flex-direction: column;
}

.controls .inputs label.checkbox {
  flex-direction: row;
}
